{% extends "layout.html" %}
{% load pagination_tags %}

{% block title %}Kenya Circumcision{% endblock %}

{% block content %}

<div class="module">
    {% if save_msg %}
    <font color="red">{{ save_msg }}</font>
    <br><br>
    {% endif %}

	<h2>Registered Patients</h2>
	<table>
		<thead>
			<tr>
				<th scope="col" rowspan="2" valign="bottom">Patient ID</th>
				<th scope="col" rowspan="2" valign="bottom">Site</th>
				<th scope="col" rowspan="2" valign="bottom">Days Post-Op</th>
				<th scope="col" rowspan="2" valign="bottom">Registered on</th>
				<th scope="col" rowspan="2" valign="bottom">Phone</th>
				<th scope="col" colspan="{{ days|length }}">Notifications (day)</th>
				<th scope="col" rowspan="2" valign="bottom">Followup Visit</th>
				<th scope="col" rowspan="2" valign="bottom">Final Interview</th>
			</tr>
			<tr>
				{% for d in days %}
				<th>{{ d }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>{% if patients.object_list %}{% for px in patients.object_list %}
			<tr {% if px.status %}style="background-color: {% ifequal px.status 'late-final'%}#fbb{% else %}#fdd{% endifequal %};"{% endif %}>
				<td><a href="/circumcision/patient/{{ px.patient_id }}">{{ px.patient_id }}</a></td>
                <td style="white-space: nowrap;" >{{ px.site }}</td>
                <td>{{ px.post_op }}</td>
                <td>{{ px.registered_on }}</td>
                <td>{% if px.connection %}{{ px.connection.identity }}{% else %}&#x2014;{% endif %}</td>
                {% if px.no_notif %}
                <td colspan="{{ days|length }}" style="background-color: #ddd; font-size: 80%; color: #888; text-align: center;">not signed up for notifications</td>
                {% else %}
                {% for dn in px.notifications %}
                <td>{% if dn %}<img src="/static/rapidsms/images/icon-yes.gif">{% else %}<img src="/static/rapidsms/images/icon-no.gif">{% endif %}</td>
                {% endfor %}
                {% endif %}
                <td>{% if px.followup_visit %}<img src="/static/rapidsms/images/icon-yes.gif">{% else %}<img src="/static/rapidsms/images/icon-no.gif">{% endif %}</td>
                <td>{% if px.final_visit %}<img src="/static/rapidsms/images/icon-yes.gif">{% else %}<img src="/static/rapidsms/images/icon-no.gif">{% endif %}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="{{ days|length|add:"7" }}">No patients registered</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="{{ days|length|add:"7" }}">
					{% paginator patients %}
				</td>
			</tr>
		</tfoot>
	</table>

	<br>
	<a href="/circumcision/export/">export to CSV</a>

</div>

{% endblock %}
